.main-header {
	color: white;
	margin-bottom: 2rem;
}

.container > .row > * {
	padding-top: .75rem;
	padding-bottom: .75rem;
	border: 1px solid rgba(86, 61, 124, .2);
	background-color: rgba(86, 61, 124, .15);
}
